.itemslist {
	&__header {
		display: table;
		width: 100%;
	}
	.col--answer {
		padding-left: 2rem;
		width: 20%;
	}
	.col--count,
	.col--score {
		width: 40%;
		text-align: right;
	}
	.col--score {
		padding-right: 2rem;
	}
	.col {
		border-bottom: 2px solid rgba(204, 204, 204, 0.6);
		display: table-cell;
		padding: 1rem;
		vertical-align: middle;
	}
	&__items {
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: inside;
		list-style-type: none;
		display: table;
	}
	&__header {
		display: table;
		width: 100%;
		font-weight: 900;
		text-transform: uppercase;
	}
	&__item {
		display: table-row;
		font-size: 1.2rem;
		&__answer {
			position: relative;
			font-size: 1.6rem;
			font-weight: 900;
		}
	}
	&__itemHighlight {
		transition: opacity 0.15s ease-out;
		transform: translate3d(0, 0, 0);
		display: inline-block;
		position: relative;

		&--active {
			transition: all 0.2s ease-in;
			transform: translate3d(0, 0, 0) scale(2.5);
			opacity: 0;
		}
	}
}
